@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --primary-color: #acb7ae;
    --background-color: #E7E8E8;
    --font-color: #111922;
    --font-second-color: #FFF;
    --nav-size: 200px;
    --header-height: 50px;
    --error-color: #e74c3c;
}

* {
    /* for dev */
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

#root {
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container {
    display: flex;
    height: 100vh;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10000;
    border: 0.5px gray solid;
}

#container .main {
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


div .MuiSnackbarContent-root {
    background-color: aquamarine;
    color: black;
}

#unsplash-info {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(43, 43, 43);
    text-align: right;
}